name: MediChat
description: "A new Flutter project."

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^16.2.4
  provider: ^6.1.5+1
  google_fonts: ^6.3.2
  curved_navigation_bar: ^1.0.3
  flutter_svg: ^2.0.10+1
  icons_plus: ^5.0.0
  iconoir_flutter: ^7.11.0
  uuid: ^4.5.1
  http: ^1.2.2
  shared_preferences: ^2.3.2
  flutter_markdown: ^0.6.20
  loading_animation_widget: ^1.2.1
  forui: ^0.16.0
  forui_assets: ^0.16.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
